*{
font-family: sans-serif;
}

body{
    margin:0;
}

.header,.information,.quote,.cta{
    margin-bottom: 84px;
}

.header{
    background: #1f2937;
    color:white;
    display: flex;
    flex-direction: column;
    padding: 0 84px;
}

.nav{
    display:flex;
    justify-content: space-between;
    padding: 24px 0;
}

.logo{
    font-size: 3em;
}

.nav-links{
    display:flex;
}

ul{
    list-style: none;
}

li>a{
    text-decoration: none;
    color:white;
    margin: 0 12px;
}

.hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding:84px 0;
}

.left,.right{
}
.right{

display:flex;
justify-content: center;}

.left{
    max-width:520px;
}


 .image{
     background: rgba(255, 255, 255, 0.253);
     width: 500px;
     height: 300px;
     display:flex;
     justify-content: center;
     align-items: center;
 }

 button{
     background-color: #3882f6;
     color:white;
     padding:12px;
     font-size:1.3em;
     margin: 24px 0;
     border-radius: 12px;
     border: 0 none white;
 }

.information{
    padding:0 84px;
}

 h2{
     text-align:center;
     margin: 84px 0;
 }

 .information-container{
     display:flex;
     justify-content: center;
     gap:18px;
 }

.item{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

 .item-image{
     width:200px;
     height: 200px;
     border: 2px solid #1f2937;
     border-radius: 12px;
 }

 .quote{
     width:100%;
     height: 300px;
     background-color: #e5e7eb;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 84px 0;
 }

 .quote-text{
     display:flex;
     flex-direction: column;
     font-size:36px;
     font-weight:lighter;
     font-style:italic;
     padding: 0 268px;
 }

 .quote-att{
     align-self: flex-end;
     font-weight: bold;
     font-style: normal;
     font-size: 24px;
     margin-top:36px;
 }

 .cta-container{
     background-color: #3882f6;
     color:white;
     display:flex;
     justify-content: space-between;
     margin: 0 168px;
     padding: 36px 108px;
 }

 .cta-button{
     border: 2px solid white;
 }

.footer{
    padding: 36px;
    background-color: #1f2937;
    text-align:center;
    color:white;
}